annotated-doc==0.0.4
click==8.4.1
colorama==0.4.6
grpcio==1.81.0
grpcio-tools==1.81.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.2.0
natsort==8.4.0
overrides==7.7.0
pathspec==1.1.1
platformdirs==4.10.0
protobuf==6.33.6
psutil==7.2.2
Pygments==2.20.0
pytz==2026.2
PyYAML==6.0.3
rich==15.0.0
robotframework==7.4.2
robotframework-assertion-engine==5.0.1
robotframework-browser==20.0.0
robotframework-pythonlibcore==4.6.0
robotframework-robocop==8.2.11
seedir==0.5.1
setuptools==82.0.1
shellingham==1.5.4
tomli_w==1.2.0
typer==0.26.7
typing_extensions==4.15.0
wrapt==2.2.1
